<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app-5">
    <p><input v-model="id"></p>
    <p><input v-model="trainType"></p>
    <p><input v-model="trainFreightType"></p>
    <p><input v-model="trainRunningSituation"></p>
    
    <p><button @click="createNewTrain">点击添加</button></p>
    <p><button >点击查询</button></p>
</div>


<script>

    var app5 = new Vue({
        el: '#app-5',
                       data:{
                       id:'',
                       trainType:0,
                       trainFreightType:0,
                       trainRunningSituation:0,
                       },
        methods: {
            createNewTrain: function () {
                       console.log({
                                   ID: this.id,
                                   trainType:this.trainType,
                                   trainFreightType:this.trainFreightType,
                                   trainRunningSituation:this.trainRunningSituation
                                   })
                       axios.post('http://localhost:5001/train',
                                   {
                                  ID: this.id,
                                  trainType:this.trainType,
                                  trainFreightType:this.trainFreightType,
                                  trainRunningSituation:this.trainRunningSituation
                                  })
                    .then(function (response) {
                        // handle success
                        console.log(response.data);
                        alert(response.data)
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
                    .then(function () {
                        // always executed
                    });
            }
        }
    })

</script>

</body>
</html>
